.km-drawer-button:before, .km-drawer-button:after  { content: "\E077"; }
.km-back-button:before, .km-back-button:after  { content: "\e013"; }
.km-check-button:before, .km-check-button:after  { content: "\e037"; }