.km-flat .km-content {
    background-color:#795548;
}


.buttonBlue {
    background-color:#6669c9 !important;
    color:white !important;
}

.km-button .km-text {
    color:white !important;
}

/* Navbar */
.km-navbar {
    background-color:#795548 !important;
    color:white !important;
}

/* Drawer - leftsidebar */
#appDrawer > div {
   background-color:#795548 !important;
   color:white !important;
}

#appDrawer > div > .userInfo {
   padding:10px;
}

#appDrawer > .km-content {
   background-color:white !important;
   color:#444 !important;
}

/* View */
.km-widget.km-view {
    border-left:1px solid rgba(0,0,0,0.1) !important;
    border-right:1px solid rgba(0,0,0,0.1) !important;
}

/* Landing */
.landingButton {
    margin-top:50px;
}

/* Hotspots landing */
#places-list > li {
    border:0px;
    margin-bottom:10px;
}
#places-list > li > .hotspot-item {
    width:95%;
    display:block;
    margin:auto;
    
    overflow:hidden;
    border:1px solid rgba(0,0,0,0.1) !important;
}

#places-list > li > .hotspot-item > .details{
    display:block;
    padding:5px;
}

#hotspotDetailView .km-content{
    background-color:white !important;
}

.hotspotBanner {
    width:100%;
    height:175px;
    background-image:url('../assets/hotspots/hotspots-list-image-sample.png');
    background-size:cover;
}

.hotspotDetails {
    display:block;
    width:100%;
    margin-top:10px;
}

.hotspotDetails > .hotspotStatusIcon {
    width:10%;
    display:inline-block;
    text-align:center;
}

.hotspotDetails > .hotspotName {
   width:73%;
   display:inline-block;
}

.hotspotDetails > .hotspotRating {
   width:10%;
   display:inline-block;
   text-align:left;
}

.hotspotGallery {
    width:100%;
    display:block;
}

.hotspotGallery .galleryList > li{
    width:30%;
    height:150px;
    display:inline-block;
    margin-left:1%;
    margin-bottom:10px;
    background-image:url('../assets/hotspots/hotspot-detail-image-sample.png');
    background-size:cover;
}