<!--<div data-role="view" data-title="Hotspots" data-layout="main" data-model="APP.models.hotspots">-->
<div data-role="view" id="list" data-title="Hotspots" data-layout="main" data-model="listview" class='mainView'>
    <!--<ul id="places-list"></ul>-->
    <ul id="places-list" data-role="listview" data-style="inset" data-template="hotspotsTemplate1" data-source="HotspotsList.data" data-pull-to-refresh="true" data-append-on-refresh="false"></ul>
    <script type="text/x-kendo-template" id="hotspotsTemplate1">
        <div class='hotspot-item'>
            <img src='assets/hotspots/hotspots-list-image-sample.png'>
            <div class='details'>
                <br>
                <a href='\#hotspotDetailView'><strong>#: placeName #</strong></a>
                <br><br>32,464 has been here
            </div>
        </div>
    </script>
</div>
<!-- this is the template used by the listview. template items are automatically
     wrapped in an <li> by Kendo UI Mobile -->
<script type="text/x-kendo-template" id="hotspotsTemplate">
    <a data-bind="click: alert">#: data.name #</a>
</script>
