<div 
     data-role="view" data-title="Landmarks" data-layout="main" 
     data-model="APP.models.landmarks" data-show="onShowMap">
    <div id="map" style="width: 320px; height: 480px;"></div>
</div>